table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
#show-cart{
  width: 800px;
}
thead {
  background-color: #333;
  color: white;
}

#show-cart{
  position: fixed;
  border-radius: 10px;
  right: 0px;
  bottom: 20px;
  padding: 10px;
  background-color: #eee;
  color: #000;
  top: 80px;
  z-index: 999;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.cart-item th, td{
  border: none;
}

.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item .product-name {
  font-weight: bold;
}

.cart-item .item-image {
  max-width: 100px;
  max-height: 100px;
}

.cart-item .product-name{
  width: 400px;
}

.cart-item img, .product-name, .product-price{
  margin: 5px 5px;
  border: none;
}
.quantity{
  width: 20%;
  margin-right: 10px;
  border: none;
}

.decrease-quantity, .increase-quantity{
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.btn-remove-item{
  border: none;
  background-color: #1070ba;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}

.btn-remove-item:hover{
  background-color: #000;
  transition: all 0.3s ease-in-out;
}



