body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-pay{
  width: 1200px;
  margin: 0px auto;
}


#main-pay-page{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.heading-infomation, .heading-bill-cart{
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding: 0px 0px 10px 0px;
  color: #0170b9;
}
#left-pay-page{
  margin-right: 15px;
  width: 60%;
}

.infomation{
  display: flex;
}
.infomation-left{
  width: 50%;
  margin-right: 10px;
}
.infomation-right{
  width: 50%;
  margin-left: 10px;
}

form input{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.top-pay-left{
  width: 50%;
  margin-right: 10px;
}
.top-pay-right{
  width: 50%;
  margin-left: 10px;
}
.top-pay{
  display: flex;
  justify-content: space-between;
}

.top-pay select, .bottom-pay select{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.bottom-pay{
  display: flex;
  justify-content: space-between;
}

.bottom-pay-left{
  width: 50%;
  margin-right: 10px;
}
.bottom-pay-right{
  width: 50%;
  margin-left: 10px;
}

#addrest{
  width: 100%;
  height: 38px;
  margin-top: 5px;
  padding: 10px;
}

.heading-import{
  margin-top: 10px;
}
.heading-import p:first-child{
  margin-bottom: 8px;
}

.note-bill{
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding: 15px 0px 0px 0px;
}

textarea{
  margin-top: 15px;
  width: 100%;
  height: 50px;
  padding: 15px 15px;
  font-size: 15px;
}

.input-addrest{
  margin-top: 10px;
}
#inputText{
  width: 515px;
  padding: 10px 10px;
}

/*right*/
#right-pay-page{
  margin-left: 15px;
  width: 40%;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1.5rem;
}

thead {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
  text-transform: uppercase;
  font-weight: bold;
}

th, td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

th {
  text-align: left;
}

tbody tr:nth-child() {
  background-color: #f8f9fa;
}

tbody tr:hover {
  background-color: #e2e6ea;
}

td {
  text-align: left;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.checkout-btn{
  background-color: #0170B9;
  color: #fff;
  border: none;
  padding: 10px 10px;
  cursor: pointer;           
  font-size: 16px;
}
.checkout-btn:hover{
  background-color: black;
  color: #fff;
}



