*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-search{
    width: 1200px;
    margin: 0px auto;
}

.heading-search--tk{
    margin: 30px 20px;
    color: #777;
}
.heading-search--tk span{
    text-transform: uppercase;
    color: #0170b9;
}
.product-list{
   
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.product-item{
    
    margin-bottom: 20px;

}
.product-img{
    width: 225px;
    height: 225px;
}

.product-price span{
    color:   red;
}
.product-name{
    font-size: 15px;
}
.product-description{
    color: #777;
    text-align: left;
    font-size: 13px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}







.else-heading-search{
    color: #777;
    text-align: center;
    align-items: center;
    padding: 30px 30px;
}



