*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    outline: none;
}
/*---------------------------login----------------------*/
.form{
   
    /* text-align: center; */
    
    /* padding: 100px 0px; */
}
.form h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.submit-btn-login{
    text-align: right;
}
nav{
    text-align: center;
    padding: 0px 0px 10px 0px;
}
nav a{
    margin: 0px 10px;
}

/*--------------------------------------------------------------------------*/

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    border-bottom: 1px solid #000;
}
header>h1{
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
}
header>nav{
    margin-top: 20px; 
}
header nav a{
    margin: 0px 10px;
}

.admin-content{
    padding-top: 50px;
    display: flex;
}
.content-left{
    background-color: #dddddd;
    width: 20%;
    height: 100vh;
    padding: 30px 0px 0px 12px;
}
.content-left > ul > li > a{
    font-weight: bold;
}

.content-left ul li{
    margin: 6px 0px;
    padding: 6px 6px;
}
.content-left ul ul{
    margin-left: 20px;
}
.content-left ul ul li:hover{
    background-color: #ff4436;
    padding: 6px 6px;
    transition: all 0.5s ease;
}
.content-left ul ul li a:hover{
    color: #fff;
}


/*---------------content right--------------*/
.content-right{
    width: 80%;
    padding: 30px 0px 0px 12px;
}
.content-cartegory-add input{
    width: 200px;
    height: 30px;
    padding-left: 12px;
    margin-top: 12px;
}

.content-cartegory-add button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    border: none;
    transition: all 0.33s ease;
}

.content-cartegory-add button:hover{
    background-color: #ff4436;
    color: #fff;
}


/*----------------------cartegory list----------------- */

.content-cartegory-list table{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.content-cartegory-list table{
    border-collapse: collapse;
}
.content-cartegory-list table tr th, td{
    border: 1px solid #000;
}

/*---------------------product------------------*/
.content-product-add input, select{
    width: 200px;
    height: 30px;
    display: block;
    margin: 20px 0px;
}

.content-product-add input, textarea{
    padding: 10px 10px;
}
.content-product-add textarea{
    margin-bottom: 20px;
}

.content-product-add input[type=file]{
    width: 100%;
}

.content-product-add button{
    border: none;
    background-color: #1070B9;
    font-size: 16px;
    padding: 10px;
    width: 100px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.content-product-add button:hover{
    background-color: #000;

}




